# Dependency directories
node_modules/
.pnpm-store/

# Build & Output directories
dist/
build/
.next/
out/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Flutter / Mobile specific
.dart_tool/
.fvm/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
